/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Color */
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    text-align: center;
}

/* Anchor tag */
a{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    padding: 10px 20px;
}

/* Grid Container */
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    align-items: center;
    margin: 0 auto;
    min-width: 340px;
    max-width: 900px;
}
.col-6{
    grid-column-start: 2;
    grid-column-end: 12;
}
.col-12{
    grid-column: span 12;
}

/* Logo */
#logo{
    width: 150px;
    height: 50px;
}

/* Header */
.background{
    background-color: var(--Very-Pale-Cyan);
    background-image: url("images/bg-hero-desktop.svg");
    background-size: cover;
    min-width: 350px;
    height: fit-content;
}
header a:hover, .ready-community a:hover{
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header nav */
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0px;
    margin: 0 0 30px;
}
#header-nav-link{
    background: white;
    color: var(--Very-Dark-Cyan);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header hero */
.header-hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px;
    padding: 0 20px;
}
.hero-text{
    text-align: center;
    margin: 0 auto;
}
.hero-head{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.hero-desc{
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 20px auto 40px;
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
}
.hero-text a{
    background-color: var(--Pink);
    color: white;
}
.hero-img{
    background-image: url("images/illustration-mockups.svg");
    background-size: 100% 100%;
    width: 100%;
    max-width: 700px;
    height: 60vh;
    min-height: 450px;
    margin: 20px auto;
}

/* Main */
main{
    padding: 100px 20px 200px;
    margin: 0 20px;
}
.main-row{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px 10px;
    margin: 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 100%; 
    gap: 5vw;
}
.main-row-text{
    text-align: center;
}
.main-row-head{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.main-row-desc{
    font-size: 1.3rem;
    width: 100%;
    margin: 30px 0;
    color: var(--Grayish-Blue);
    font-family: 'Open Sans', sans-serif;
    line-height: 2.3rem;
    max-width: 700px;
}
.main-row-img{
    width: 100%;
    height: 45vh;
    margin: 20px 0px;
    max-width: 700px;
    min-height: 300px;
}

/* Footer */
.footer-background{
    background-color: var(--Very-Dark-Cyan);
    min-width: 350px;
}
footer{
    color: var(--Very-Pale-Cyan);
    text-align: start;
}
.ready-community{
    background-color: white;
    color: black;
    padding: 0px 20px 50px;
    text-align: center;
    border-radius: 15px;
    margin-top: -200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ready-community h2{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    margin: 50px 0px;
}
.ready-community a{
    background-color: var(--Pink);
    color: white;
    font-size: 0.8rem;
}
.footer-links{
    padding: 50px 20px;
    display: grid;
    grid-template-columns: auto;
    text-align: start;
}
#footer-logo{
    filter: brightness(0) invert(1);
}
.footer-links a{
    color: var(--Very-Pale-Cyan);
    font-weight: 400;
    padding: 0;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-link-row{
    margin: 25px 0px;
    width: 100%;
}
.footer-link-row p{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 20px;
    width: 200px;
    text-align: start;
    max-width: 700px;
}
.footer-nav-links{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
.footer-nav-links a{
    padding: 0;
}
.social-links{
    display: flex;
    margin: 30px 0px;
    justify-content: center;
}
.social-links a{
    margin: 0 8px;
}
.social-links a img:hover{
    filter: invert(35%) sepia(57%) saturate(1580%) hue-rotate(272deg) brightness(95%) contrast(90%);
}
.social-links a img{
    filter: brightness(0) invert(1);
    width: 35px;
}

/* attribution */
.attribution { 
    text-align: center; 
    word-spacing: 0.5rem;
    padding: 5px 10px;
    background-color: rgb(241, 227, 245);
    min-width: 350px;
}
.attribution a { 
    color: hsl(229, 84%, 10%); 
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    text-decoration: underline;
}

/* Media Queries */
@media (min-width: 1000px) {

}
@media (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(12, 1fr);
        max-width: 1400px;
        margin: 0 auto;
    }
    .col-6{
        grid-column-start: 4;
        grid-column-end: 9;
    }
    *{
        text-align: start;
    }
    a{
        padding: 15px 40px;
        font-size: 1.1rem;
    }

    /* Logo */
    #logo{
        width: 200px;
    }

    /* Header hero */
    .header-hero{
        flex-direction: row;
        gap: 5vw;
    }
    .hero-head{
        width: 80%;
        max-width: 700px;
        text-align: start;
        margin: 0;
    }
    .hero-text{
        text-align: start;
    }
    .hero-desc{
        margin: 20px 0 40px;
    }
    .hero-img{
        margin: 0px auto;
        width: 40vw;
    }

    /* Main */
    .main-row{
        flex-direction: row;
        padding: 10px 70px 10px 100px;
    }
    .main-row:nth-child(odd){
        flex-direction: row-reverse;
    }
    .main-row-img{
        width: 50%;
    }

    /* Footer links */
    .footer-links{
        align-items: center;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 7vw;
    }
    .ready-community{
        padding: 0px 50px 80px;
    }
    .ready-community h2{
        font-size: 2.3rem;
        text-align: center;
    }
    .footer-link-row p{
        display: inline;
        width: 100%;
        max-width: 100%;
    }
    .footer-nav-links{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
        padding:  0px 20px;
    }
    .footer-nav-links a{
        width: 150px;
    }
    .copyright{
        grid-column-start: 3;
    }
}